.inputs{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;}
.inputs > div.case::after{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-image: url(rectangle.png);
    background-repeat: no-repeat;
    z-index: -1;
    background-size: contain;
    width: 100%;
    height: 100%;}
.inputs > div.case{
    position: relative;
    border-radius: 7.5px;
    width: 80%;
    display: grid;
    grid-template-columns: 55% 45%;}
.inputs > div.case > :is(*:hover, *:focus, ){
    border: none;
    outline: none;}
.inputs > div.case > input{
    padding: 10px;
    font-size: 1.2em;
    font-family: sans-serif;
    background-color: transparent;}
.inputs > div.case > select{
    margin-right: 5px;
    background-color: transparent;}
.inputs > div.case > select > option{color: #1b1d1e;}
.output > div.case{
    display: grid;
    width: 25vw;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, 50px);
    align-items: center;
    justify-items: center;}
.output > div.case > .time{
    font-family: sans-serif;
    overflow: hidden;
    max-width: 100px;}
header {
    user-select: none;
    position: absolute;
    padding-top: 50px;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 2em;}
header > p{
    font-weight: 100;
    font-family: sans-serif;
    padding: 0.5em 0;
    font-size: 0.5em;}

@media screen and (max-width: 1200px) {
    header{
        padding: 0;
        position: static;}
    main{
        gap: 75px;
        justify-content: flex-start !important;
        flex-direction: column !important;}
    .inputs{
        align-items: center;
        justify-content:flex-start !important;
        gap: 50px;
        height: auto !important;}
    section.output{width: 100%;}
    section.output > div.case{width: 100%;}
}
@media screen and (max-width: 700px) {
    main{padding: 15px !important;}
    section.inputs{max-width: calc(100vw - 30px);}
    section.inputs > div.case{width: 100%;}
}